.team-page-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    transition: all;
    -webkit-transition: all;
    -moz-transition: all;
    -ms-transition: all;
    -o-transition: all;
}
:root{
    --nav-tabs-team-profile-height: 7vh;
    --nav-team-profile-height: 5vh;
}
/* nav */
.top-bar {
    position: sticky;
    top: 0;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    height: var(--nav-team-profile-height);
    padding: 0 0.5rem;
    font-size: 1.4rem;
    color: #fff;
    font-weight: bold;
    background-color: var(--primary);
    z-index: 999;
}
.top-bar .left-side {
    display: flex;
    gap: 1.2rem;
}

/* hero banner */
.team-hero-banner {
    position: relative;
    width: 100%;
    height: 35vh;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.team-hero-banner .bg-img {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -2;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTgrFCfnJG8Lnt_QJokuCt9L-5ygasLLTGOWA&usqp=CAU);
}

.team-hero-banner::before {
    content: "";
    position: absolute;
    top: 0;
    z-index: -1;
    display: block;
    background-image: linear-gradient(
        rgba(255, 255, 255, 0.3),
        rgba(33, 33, 33, 0.2),
        rgba(33, 33, 33, 0.6),
        rgba(33, 33, 33, 0.7),
        rgba(33, 33, 33, 0.8)
    );
    width: 100%;
    height: 100%;
}

.team-hero-banner .team {
    z-index: 999;
    display: flex;
    align-items: center;
    gap: 1rem;
    padding-left: 6vmin;
}

.team .image-logo {
    width: 70px;
    height: 70px;
    overflow: hidden;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    position: sticky;
    top: 0;
    left: 0;
}

.image-logo img {
    width: 100%;
}

.team ul {
    list-style: none;
}

.team ul li:first-child {
    font-size: 1.2rem;
    font-weight: bold;
    text-transform: uppercase;
    font-family: sans-serif;
    letter-spacing: 2px;
}

.team ul li:nth-child(2) > span:first-child {
    margin-right: 1rem;
}

.team ul li:last-child {
    padding-top: 0.2rem;
    font-size: 1rem;
    color: var(--secondary);
    font-weight: bolder;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
    text-transform: uppercase;
    text-shadow: 0 0 1px #888;
}

/* nav-layout */

.nav-layout {
    width: 100%;
    height: var(--nav-tabs-team-profile-height);
    background-color: #333;
    color: #fff;
}
.nav-layout .wraper {
    display: flex;
    width: 100%;
    height: 100%;
    overflow: scroll;
    padding: 0 1rem;
    gap: 1rem;
}
.nav-layout .wraper li {
    list-style: none;
    min-width: max-content;
    flex-shrink: 0;
    height: 100%;
    position: relative;
    cursor: pointer;
}
.nav-layout .wraper li a{
    color: #fff;
    text-decoration: none;
    width: 100%;
    height: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
.nav-layout .wraper li.active a::before {
    content: "";
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    display: inline-block;
    box-sizing: border-box;
    border-bottom: 0.3rem solid var(--primary-dark);
}

/* selected-tab-outlet */

.selected-tab-outlet{
    /* flex: 80%; */
    height: calc(100vh - var(--nav-team-profile-height) - var(--nav-tabs-team-profile-height));
    display: flex;
    overflow: scroll;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
}
.selected-tab-outlet > *{
    flex-shrink: 0;
    min-width: 100%;
    padding: 1rem 1rem;
    scroll-snap-align: center;
    overflow-y: scroll;
    max-height: calc(100vh - var(--nav-team-profile-height) - var(--nav-tabs-team-profile-height));
}

/* tab-container */
.selected-tab-outlet .stats{
    padding-top: .3rem;
    position: relative;
}
.tab-container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(var(--tab-size), auto));
    grid-auto-rows: max-content;
    column-gap: 1rem;
    row-gap: .6rem;
    place-items: center;
}