*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* Utility Classes */

.full-display{
    width: 100%;
    height: 100vh;
    background-color: var(--bg);
}
.flex{
    display: flex;
}
.flex-col{
    display: flex;
    flex-direction: column;
}
.center{
    align-items: center;
    justify-content: center;
}
.between{
    justify-content: space-between;
}
.start{
    justify-content: flex-start;
    align-items: flex-start;
}
.r-v-center{
    align-items: center;
}
.c-v-center{
    justify-content: center;
}
.pd-1{
    padding-inline: 1rem;
}
.gap-1{
    gap: 1rem;
}
.gap-06{
    gap: .6rem;
}
.pd-block-1{
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.pd-block-06{
    padding-top: .6rem;
    padding-bottom: .6rem;
}
.color-white{
    color: #fff;
}
.mg-1{
    margin: 1;
}
.primary-color{
    color: var(--primary);
}
.bg-primary{
    background-color: var(--primary);
}
.bg-white{
    background-color: #fff;
}
.bg-body{
    background-color: var(--bg);
}
.bg-none{
    background-color: transparent;
}
.margin-left-auto{
    margin-left: auto;
}
.margin-auto{
    margin: auto;
}
.width-max-content{
    width: max-content;
}
.parent-full-width{
    width: 100%;
}
.abs{
    position: absolute;
}
.relative{
    position: relative;
}
.top-0{
    top: 0;
}
.left-0{
    left: 0;
}
.right-0{
    right: 0;
}
.overflow-hidden{
    overflow: hidden;
}
.parent-size{
    width: 100%;
    height: 100%;
}
.disable{
    background-color: grey !important;
    border: 1px solid gray !important;
    cursor: no-drop !important;
}
.disable-link{
    color: grey !important;
    pointer-events: none;
}
.active-link{
    color: dodgerblue !important;
    pointer-events: auto;
}
.btn-link{
    background-color: transparent;
    border: none;
    color: var(--primary-dark);
    cursor: pointer;
}
.btn-link:hover{
    background-color: transparent;
    border: none;
    text-decoration: underline;
}
.border-bottom{
    border-bottom: 1px solid var(--primary-dark);
}
.tap-hightlight-none{
    -webkit-tap-highlight-color: transparent;
}
/* icons */
.icon{
    color: var(--primary-dark);
    transform: translateY(4px);
    -webkit-transform: translateY(4px);
    -moz-transform: translateY(4px);
    -ms-transform: translateY(4px);
    -o-transform: translateY(4px);
  }

/* ReUseable Components */
.loader{
    animation-name: Rotate;
    animation-duration: .6s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@keyframes Rotate{
    0%{
        rotate: 0deg;
    }
    100%{
        rotate: 360deg;
    }
}
input[name="search"]{
    flex: 1;
    display: block;
    max-width: 500px;
    border: none;
    border-bottom: 1px solid var(--primary-dark);
    line-height: 2.1rem;
    font-size: 1rem;
    text-indent: .6rem;
    outline: none;
}
.media-object{
    display: flex;
    align-items: center;
    min-height: 50px;
    height: auto;
    width: 100%;
    background-color: #fff;
    box-shadow: var(--shadow-light);
    border-radius: .2rem;
    -webkit-border-radius: .2rem;
    -moz-border-radius: .2rem;
    -ms-border-radius: .2rem;
    -o-border-radius: .2rem;
    padding: .5rem;
    list-style: none;
    gap: 1rem;
    font-size: 1.1rem;
}
.media-object > li:first-child{
    width: 45px;
    height: 45px;
    overflow: hidden;
}
.media-object > li:first-child img{
    width: 100%;
}

/* Login, Register, EntryLayout */

.entry-container{
    width: 100%;
    max-width: 600px;
    min-height: 250px;
    height: auto;
    background: #fff;
    border-radius: .2rem;
    -webkit-border-radius: .2rem;
    -moz-border-radius: .2rem;
    -ms-border-radius: .2rem;
    -o-border-radius: .2rem;
    box-shadow: var(--shadow);
    padding-block: 1rem;
    position: relative;
}
.forgot-password{
    font-size: .85rem;
    font-family: cursive;
}
/* // show loader or not in button  */
.submit{
    visibility: hidden;
}
.not-submit + div{
    visibility: hidden;
}
.submit + div{
    visibility: visible;
}

/* resend-otp */
.resend-otp a{
    font-family: cursive;
    font-size: .75rem;
    text-decoration: none;
    color: black;
    user-select: none;
}

/* logo */


.add-logo{
    grid-column: 1/3;
    justify-self: center;
    align-self: center;
}
.add-logo input{
    display: none;
}

.add-logo label{
    display: inline-block;
    width : 25vmin;
    height: 25vmin;
    max-width: 200px;
    max-height: 200px;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    overflow: hidden;
    filter: drop-shadow(10px);
    -webkit-filter: drop-shadow(10px);
    cursor: pointer;
}
.add-logo label img{
    width: 100%;
}

/* container */
.flex-container{
    display: inline-flex;
    flex-direction: column;
    max-width: 750px;
}
.container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

@media screen and (max-width: 650px) {
    form{
        align-items: center;
    }
    .entry-container{
        margin: 1rem;
    }
    .resend-otp > span{
        flex: 1;
        display: flex;
        justify-content: space-between;
    }
    .resend-otp a:first-child{
        padding: 0;
    }
    .add-logo{
        grid-column: 1;
    }
    .container{
        grid-template-columns: 1fr;
    }
    .flex-container{
        margin: auto;
    }
}