:root {
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    --bg: #eeeeee;
    --shadow: 0 0 10px 0px rgba(102, 102, 102, 0.671);
    --shadow-light: 0 0 8px 1px #c9c9c6;
    --shadow-light2: 0 0 8px 1px #b3b3b0d0;
    --shadow-light3: 0 0 8px 1px #b3b3b0a2;
    --radius: 0.4rem;
    --light: #999;
    --primary: rgb(233, 127, 215);
    --primary-dark: rgb(209, 83, 188);
    --primary: #1dac1d;
    --primary-dark: green;
    --secondary: dodgerblue;
    --loader-thickness: 0.5rem;
    --nav-height: 50px;
    --tab-size: 90px;
}
* {
    scrollbar-width: 0;
    user-select: none;
}
*::-webkit-scrollbar {
    display: none;
}

body {
    background-color: var(--bg);
    /* background-color: darkblue; */
}

title {
    display: block;
}

form {
    padding-inline: 1.2rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin-block: 1rem;
}

button {
    line-height: 2.2rem;
    padding-inline: 1.5rem;
    font-size: 1.1rem;
    border-radius: 0.4rem;
    -webkit-border-radius: 0.4rem;
    -moz-border-radius: 0.4rem;
    -ms-border-radius: 0.4rem;
    -o-border-radius: 0.4rem;
    outline: none;
    background-color: var(--primary);
    border: 1px solid var(--primary-dark);
    display: inline-block;
    color: white;
    font-weight: bold;
}

button:hover {
    cursor: pointer;
    background-color: var(--primary-dark);
}

label {
    font-size: 0.9rem;
}
